@{
    ViewBag.Title = "Tạo tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo tài khoản</h2>

<input placeholder="Họ" />
<input placeholder="Tên" />
<input placeholder="Email" />
<input placeholder="Mật khẩu" />

<button>ĐĂNG KÝ</button>
