@{
    Layout = null;
}

<h3 style="text-align:center">KHÔI PHỤC MẬT KHẨU</h3>

<input type="email" placeholder="Email" />

<button>KHÔI PHỤC</button>

<p style="text-align:center;margin-top:10px">
    Đã nhớ mật khẩu?
    <a onclick="showForm('login')">Trở về đăng nhập</a>
</p>
