@{
    Layout = null;
}

<h3 style="text-align:center">ĐĂNG NHẬP TÀI KHOẢN</h3>

<input type="email" placeholder="Email" />
<input type="password" placeholder="Mật khẩu" />

<button>ĐĂNG NHẬP</button>

<p style="text-align:center;margin-top:10px">
    Khách hàng mới?
    <a href="/Account/Register">Tạo tài khoản</a>
</p>

<p style="text-align:center">
    Quên mật khẩu?
    <a onclick="showForm('forgot')">Khôi phục mật khẩu</a>
</p>
